*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
}
li{
    list-style-type: none;
}
#preloader{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#f34236;
    z-index:999999999999999999;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.container{
    width: 1140px;
    margin: 0 auto;
}.section_ttl h2 span{
    color: #f34236;
}
.section_ttl h2{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    position: relative;
    padding-top: 100px;
}
.section_ttl h2::after{
    position:absolute;
    content:"";
    width:50px;
    height:4px;
    background:black;
    left: 50%;
    right: 50%;
    bottom: 0;
    text-align:center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
/*header css start*/

#navber{
    border-bottom: 1px solid rgba(255, 255, 255, 0.37);
    box-shadow:0 0 15px 5px rgba(58, 78, 95, 0.2) ;
    position:fixed;
    top:0;
    right:0;
    left: 0;
    z-index: 999999999;
    transition:linear .7s;
    -webkit-transition:linear .7s;
    -moz-transition:linear .7s;
    -ms-transition:linear .7s;
    -o-transition:linear .7s;
}
.stickyNav {
    background:#fff;
    animation: stickyNav 0.7s;
    -webkit-animation: stickyNav 0.7s;
}
@keyframes stickyNav {
    from{
        top:-30px;
    }
    to{
        top:0;
    }
}
#navber .logo{
    width: 20%;
}
#navber .logo a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
}
#navber .menu{
    width: 80%;
    text-align: right;
}
 .menu ul li {
    display: inline-block;
    position: relative;
}
.menu ul li a {
    display: block;
    padding:0 10px;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    line-height: 70px;
    position: relative;
}
#navber .menu ul  li a::after{
    position: absolute;
    content:"";
    width:0;
    height: 3px;
    right: 0;
    bottom: 0;
    background-color:#fff;
    transition:all linear 0.3;
    -webkit-transition:all linear 0.3;
    -moz-transition:all linear 0.3;
    -ms-transition:all linear 0.3;
    -o-transition:all linear 0.3;
}
.menu ul  li:first-child::after{
    position: absolute;
    content:"";
    width:100%;
    height: 3px;
    right: 0;
    bottom: 0;
    background-color:#fff;
    transition:all linear 0.3;
}
#navber .menu ul li a:hover::after
{
    width: 100%;
    right:auto;
    left: 0;
}
#navber.stickyNav .menu ul li a{
    color: #111111;
}
#navber.stickyNav .menu ul  li:first-child::after{
    background-color:#f34236;
}
#navber.stickyNav .logo a{
    color: #f34236;
    padding: 15px;
}
.banner_content{
    position: relative;
}
.banner_content .slider_item{
    height: 100vh;
    position: relative;
}
.banner_content .contentItem{
    position: absolute;
    top: 50%;
    bottom: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}
.banner_content .contentItem h2{
    font-size:  55px;
    font-weight: 300;
}
.banner_content .contentItem h1{
    font-size:90px;
    font-weight:600;
    letter-spacing:2px;
    padding: 10px 0;
    line-height: 1.2;
}
.banner_content .contentItem  p{
    padding-bottom: 25px;
}
.banner_content .contentItem  a{
    font-size:15px;
    display: inline-block;
    background-color:#f34236;
    padding: 15px 20px;
    color:#fff;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    transition: all linear 0.7s;
    -webkit-transition: all linear 0.7s;
    -moz-transition: all linear 0.7s;
    -ms-transition: all linear 0.7s;
    -o-transition: all linear 0.7s;
    text-transform: uppercase;
}
.banner_content .contentItem  a:hover{
    background-color: #111111;
    box-shadow: 2px 18px 21px -12 #f34236 ;
}
/*header css end*/
/*About me css start*/
#about_me{
    padding:100px 0;
}
#about_me .img_part{
    width:40%;
    height:456px;
    border:10px solid #fff;
    box-shadow:0 0 15px 5px rgba(58, 78, 95, 0.2) ;
    overflow: hidden;
}
#about_me .img_part img{
    display:block;
    width:100%;
}#about_me .contentItem {
    width: 60%;
   padding-left: 80px;
}
#about_me .contentItem .section_ttl h2{
    font-size:35px;
    font-weight:600;
    position:relative;
    text-align: left;
}
#about_me .contentItem .section_ttl h2 strong{
    color:#f34236 ;
    font-weight:600;
}
#about_me .contentItem .section_ttl h2::after{
    position:absolute;
    content:"";
    width:100px;
    height:4px;
    background:black;
    left: 0;
    bottom: 0;
    margin-left: 50px;
}
#about_me .contentItem .section_ttl h4{
    font-size:20px;
    font-weight: 600;
    padding: 10px 0;
    line-height:1.6;
}
#about_me .contentItem .section_ttl p{
    font-size:16px;
    color: #828282;
    line-height:1.6;
    padding-bottom: 10px;
}
.icon  a{
    display: inline-block;
    background:#111111;
    width:40px;
    height:40px;
    color: #fff;
    text-align: center;
    font-size:15px;
    line-height:40px;
    border: 1px solid #111111 ;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
   transition: all linear 0.6s; 
}
.icon  a:hover{
    background: #fff;
    color:#111111;
}
#about_me .contentItem .about_btn a{
   display: inline-block;
   margin: 20px 5px 20px 0;
   text-transform: uppercase;
   background:#f34236 ;
   color: #fff;
   padding: 12px 25px;
   font-size: 14px;
   font-weight: 600;
   border-radius:5px;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   -ms-border-radius:5px;
   -o-border-radius:5px;
   transition: all linear 0.6s;
}
#about_me .contentItem .about_btn a:hover{
    background:#111111;
    box-shadow: 2px 18px 21px -12px #f34236;
}
/*About me css end*/
/*My services css start*/
#myServices{
    background: #F3F3F3;
    padding-bottom: 100px;
}
#myServices .contentItem {
    margin-top: 40px;
}
#myServices .contentItem .contentItem_text{
    width:350px;
    height: auto;
    text-align: center;
    border: 5px solid #fff;
    margin:15px 15px;
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding:40px 20px;
    box-shadow:0 0 20px -20px #111,0 0 20px -20px #111;
    transition: all ease-in-out 0.35s;
    -webkit-transition: all ease-in-out 0.35s;
    -moz-transition: all ease-in-out 0.35s;
    -ms-transition: all ease-in-out 0.35s;
    -o-transition: all ease-in-out 0.35s;
}
#myServices .contentItem .contentItem_text:hover{
    border-color:#f34236;
    margin-top:5px;
} 
#myServices .contentItem .contentItem_text span{
    font-size:60px;
   color:#f34236;
   margin: 15px 0;
}
#myServices .contentItem .contentItem_text h4{
    font-size:18px;
    margin-bottom: 10px;
}
#myServices .contentItem .contentItem_text p{
    font-size:15px;
    color:#828282;
    line-height: 1.6;
}
/*My services css end*/
/*My Resume css start*/
#myResume{
    padding-bottom:80px;
}
.myResume_contentItem .contentItem_text{
    width:48%;
    margin:40px 30px 0 0 ;
    padding: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 0 30px -4px #1113,0 0 20px -20px #1111111f;
}
.myResume_contentItem .contentItem_text:nth-child(2){
    margin-right:0 ;
}
.myResume_contentItem .contentItem_text h3{
    font-size:20px;
    color: #f34236;
}
.myResume_contentItem .contentItem_text h4{
    font-size:18px;
    padding: 10px 0;
    font-weight: 600;
}
.myResume_contentItem .contentItem_text span{
    padding:5px 0;
    color:#828282;
}
.myResume_contentItem .contentItem_text p{
    font-size:15px;
    line-height:1.6;
    color:#828282;
}
/*My Resume css end*/
/*Connecting section css start*/
#hire_me{
    background:#f34236;
    text-align: center;
    padding:50px 0;
}
#hire_me h3{
    font-size:32px;
    font-weight: 600;
    color:white;
    margin-bottom: 10px;
}
#hire_me a {
    display: inline-block;
    font-size:14px;
    padding: 12px 20px ;
    background-color: #fff;
    border:1px solid #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top:20px;
    color: #f34236;
    text-transform: uppercase;
    font-weight: 600;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -ms-transition: all linear .5s;
    -o-transition: all linear .5s;
}
#hire_me a:hover{
    background:none;
    color:#fff;
}
/*Connecting section css end*/
/*My portfolio section css start*/
#myPortfolio{
    padding-bottom: 100px;
}
#myPortfolio .menu{
    text-align: center;
}
#myPortfolio .menu ul li a {
    color:#111111;
    text-transform: uppercase;
    margin-top: 30px;
}
#myPortfolio .menu ul li a:hover{
    color: #f34236;
}
#myPortfolio .menu ul li a::after{
    background-color:#f34236;
    
}
#myPortfolio .menu ul li::after{
    background-color:#f34236;
}
.myPortfolio_item .contentItem{
    width: 350px;
    height:auto;
    margin:10px;
    border:5px solid #fff;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 30px -4px #1113,0 0 20px -20px #1111111f;
}
.myPortfolio_item .contentItem span::after,
.myPortfolio_item .contentItem span::before{
    position: absolute;
    content:"";
    width:60px;
    height: 2px;
    left:50%;
    top: 50%;
    bottom: 50%;
    background-color:#fff;
    transform: translate(-50%, -50%);
    transition:all linear 0.3;
    -webkit-transition:all linear 0.5;
    -moz-transition:all linear 0.3;
    -ms-transition:all linear 0.3;
    -o-transition:all linear 0.3;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    opacity:0;
    visibility: hidden;
}
.myPortfolio_item .contentItem span::after{
    width:2px;
    height: 60px;
}
.myPortfolio_item .contentItem img{
    width: 100%;
    display: block;
}
.myPortfolio_item .contentItem a h3{
    text-align: center;
    background:#f34236;
    padding:10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity:0;
    color:#fff;
    visibility: hidden;
}
.myPortfolio_item .contentItem img:hover{
    background:#a76a66;
}
.myPortfolio_item .contentItem:hover a h3
{
    opacity: 1;
    visibility:visible;
}
.myPortfolio_item .contentItem:hover span::after,
.myPortfolio_item .contentItem:hover span::before{
    opacity: 1;
    visibility:visible;
}
/*My portfolio section css end*/


.backtoTop{
    position: fixed;
    right:20px;
    bottom:20px;
    font-size: 25px;
    background-color: #f34236;
    padding: 15px 10px;
    border:none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #fff;
    cursor: pointer;
    display: none;
}
/*Testiminails css start*/
#testiminails{
    background-color: #F3F3F3;
    padding: 100px 0;
    
}
#testiminails .testiminails_content{
    margin: 0 auto;
    padding:50px 20px 30px;
    width:520px;
    height:350px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    border:1px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 0 30px -4px #1113,0 0 20px -20px #1111111f;
}
.testiminails_content .content_img{
    width: 100px;
    height: 100px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    overflow: hidden;
    margin: 0 auto;
}
.testiminails_content .content_img img{
    display:block;
    width:100%;
}
.testiminails_content .content_info h5{
    font-size:18px;
    font-weight: 600;
    padding:20px 0 4px 0 ;
    color: #111111;
}
.testiminails_content .content_info p{
    font-size:15px;
    line-height:1.6;
    color: #828282;
}
/*Testiminails css end*/
/*My Blogs css start*/
.myBlogs_content{
    margin: 40px 0 100px;
}
.myBlogs_contentItem{
    width: 360px;
    height: 480px;
    margin: 0 10px;
    box-shadow: 0 0 30px -4px #1113,0 0 20px -20px #1111111f;
    
}
.myBlogs_contentItem .content_img{
    width: 100%;
    height: 275px;
    overflow: hidden;
}

.myBlogs_contentItem .content_img img{
    display:block;
    width: 100%;
    transform:scale(1);
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.myBlogs_contentItem .content_img img:hover{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
}
.myBlogs_contentItem .content_info{
    padding: 10px;
}
.myBlogs_contentItem .content_info span{
    font-size:15px;
    line-height:1.6;
    color: #828282;
    margin:10px 0;
}
.myBlogs_contentItem .content_info h3{
    font-size:22px;
    font-weight: 600;
    line-height: 1.2;
}
/*My Blogs css end*/
